<hr>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("Heidelpay::Template.transactionDetails") }}</strong>
    <span class="col-xs-6 col-sm-7">
        {{ trans("Heidelpay::Template.bankAccountIBAN") }}: {{ accountIBAN }} <br/>
        {{ trans("Heidelpay::Template.bankAccountBIC") }}: {{ accountBIC }} <br/>
        {{ trans("Heidelpay::Template.bankAccountHolder") }}: {{ accountHolder }} <br/>
        {{ trans("Heidelpay::Template.bankAccountUsage") }}: {{ accountUsage }} <br/>
    </span>
</div>
